# --- PROJECT-WIDE ORCHESTRATION ---

# General
APP_NAME=MWCAST
RUST_LOG=info

# Database (PostgreSQL)
POSTGRES_USER=mwcast
POSTGRES_PASSWORD=mwcast
POSTGRES_DB=mwcast
POSTGRES_PORT=5432

# Message Queue (Kafka)
KAFKA_EXTERNAL_PORT=9092
KAFKA_INTERNAL_PORT=29092

# Backend API
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
API_BASE_URL=http://10.0.0.17:8080

# Media Server (MediaMTX)
MEDIA_RTMP_PORT=1935
MEDIA_HLS_PORT=8888
MEDIA_WEBRTC_PORT=8889
MEDIA_SERVER_URL=rtmp://localhost:1935

