# Rust
target/
Cargo.lock

# Environment
.env
.env.local

# Logs
backend/logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Others
Context/
data/

# Frontend
dist/
node_modules/
